div {
  align-items: center;
  margin-bottom: 10px;
  margin-left: 110px;
  text-align: center;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

.rad {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 100%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 15px;
}

.rad:checked {
  border: 8px solid black;
}

input {
  border: 1px solid black;
  border-radius: 5px;
}
